$menu-width: 280px;
$banner-width: 430px;

#help-banner {
  position: fixed;
  top: 75px;
  width: $banner-width;
  left: calc(50vw + ($menu-width - $banner-width) / 2)
}

.hmrc-user-research-banner {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--govuk-brand-colour, #1d70b8);
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-family: GDS Transport, arial, sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.3157894737;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;

  &:after {
    clear: both;
    content: "";
    display: block;
  }

  @media (min-width: 40.0625em) {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.hmrc-user-research-banner__container {
  display: flex;
  align-items: left;
  justify-content: left;
  padding-left: 30px;
}

.hmrc-user-research-banner__text {
  text-align: left;
}

.hmrc-user-research-banner .hmrc-user-research-banner__title {
  color: #ffffff;
  margin-bottom: 5px;
  font-weight: 700;
}

.hmrc-user-research-banner .hmrc-user-research-banner__link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;

  &:hover {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
  }
}