//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
// #map-map-container {
//     cursor: pointer;
// }

// #map-map-container {
//     cursor:pointer;
// }
@use 'slider';
@use 'banner';

.flood-map-target .govuk-body-s {
    margin-bottom: 0;
}


.govuk-cookie-banner, .govuk-header {
    @include mq ($until: tablet) {
        display:none;
    }
}

.flood-map {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .govuk-header {
        @include mq ($until: tablet) {
            padding-left: 0.75em;
            padding-right: 0.75em;
        }
    }
    .govuk-header__container {
        @include mq ($from: tablet) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-left: 0.75em;
            padding-right: 0.75em;
            .govuk-header__logo {
                width: auto;
                padding-right: 0;
                float: none;
            }
            .govuk-header__content {
                width: auto;
                float: none;
                padding-left: 0;
            }

        }
    }
}
.flood-map-main {
    padding: 0.75em;
    @include mq ($from: tablet) {
        flex: 1 1 auto;
        min-height: 0;
        height: 100%;
        padding: 0;
    }
}
.flood-map-target {
    @include mq ($from: tablet) {
        height: 100%;
    }
}
.govuk-header__container {
    @include mq ($from: tablet) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 0.75em;
        padding-right: 0.75em;

.govuk-header__logo {
        width: auto;
        padding-right: 0;
        float: none;            
    }            

.govuk-header__content {
    width: auto;
    float: none;
    padding-left: 0;
    transform: translateX(-80px);
    }        
    }    
}


// Application CSS
.fm-mobile.fm-inline.fm-o-container {
    position:fixed;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    border: 0;
    background-color:var(--background-colour);
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x pan-y;
}

.govuk-heading-s,
.govuk-body-s,
.govuk-body-s a,
.govuk-heading-m,
.govuk-list > li,
.govuk-details__text {
  color: var(--foreground-colour);
}
