//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
// #map-map-container {
//     cursor: pointer;
// }

// #map-map-container {
//     cursor:pointer;
// }
@use 'slider';
@use 'banner';

.flood-map-target .govuk-body-s {
    margin-bottom: 0;
}

.fm-c-layers__group--custom-labels .fm-c-layers__columns .fm-c-layers__text{
    text-align: right;
    padding-right: 2.70em;
}

.fm-c-layers__group--custom-labels .fm-c-layers__columns .fm-c-layers__item:last-child .fm-c-layers__text{
    text-align: right;
    padding-right: 2.70em;  
    position: relative;
    bottom: 0;
    right: 0;
    width: auto;
    white-space: nowrap;
}
.govuk-cookie-banner, .govuk-header {
    @include mq ($until: tablet) {
        display:none;
    }
}

.flood-map {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .govuk-header {
        @include mq ($until: tablet) {
            padding-left: 0.75em;
            padding-right: 0.75em;
        }
    }
    .govuk-header__container {
        @include mq ($from: tablet) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-left: 0.75em;
            padding-right: 0.75em;
            .govuk-header__logo {
                width: auto;
                padding-right: 0;
                float: none;
            }
            .govuk-header__content {
                width: auto;
                float: none;
                padding-left: 0;
            }

        }
    }
}
.flood-map-main {
    padding: 0.75em;
    @include mq ($from: tablet) {
        flex: 1 1 auto;
        min-height: 0;
        height: 100%;
        padding: 0;
    }
}
.flood-map-target {
    @include mq ($from: tablet) {
        height: 100%;
    }
}
.govuk-header__container {
    @include mq ($from: tablet) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 0.75em;
        padding-right: 0.75em;

.govuk-header__logo {
        width: auto;
        padding-right: 0;
        float: none;            
    }            

.govuk-header__content {
    width: auto;
    float: none;
    padding-left: 0;
    transform: translateX(-80px);
    }        
    }    
}

// EA logo
.ea-logo-image {
    width: 150px;
    height: auto;
}

// Application CSS
.fm-mobile.fm-inline.fm-o-container {
    position:fixed;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    border: 0;
    background-color:var(--background-colour);
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x pan-y;
}

.govuk-heading-s,
.govuk-body-s,
.govuk-body-s a,
.govuk-heading-m,
.govuk-list > li,
.govuk-details__text {
  color: var(--foreground-colour);
}

// Start of fix of  a Map Component bug (must be fixed there)
  .fm-o-top__column:first-child:not(:has(.fm-c-search))  {
     position: static;
 }

.fm-o-top__column:first-child > .fm-c-panel {
    position: absolute;
    left: 15px;
    top: 70px;
    max-height: calc(100% - 125px);
}


.fm-c-panel__body { 
    padding: 20px;
}


@import '../../../node_modules/@arcgis/core/assets/esri/themes/light/main.css';
// .map-container, #map {
//   width: 300px;
//   height: 240px;
// }  map container on main map set too small

.map-container.product-1-map, .map-container.product-1-map #map {
    width: 912px;
    height: 768px;
  }

.map-container {
  margin-bottom: 0px !important;
}

@media print {
  html, body {
    height: 100%;
  }
}

@page {
  size: a4 portrait;
  margin: 10mm 10mm 10mm 10mm;
}

@page map-page {
  size: a4 landscape;
  margin: 0;
}
.print-page {
  page-break-after: always;
}

.map-container.product-1-map {
  position: relative;
  &.product-1-map {
    .map--result {
      // Make the esri map invisible, to avoid flickering
      // while the map is converted to an image
      visibility: hidden;
    }
  }
}

// A4 PAGE IS 297 * 210 mm
// map-container IS 280 * 200 mm
// image IS 225 * 200 mm
// legend is 55 * 200 mm
// FOOTER is 225 * 5 mm
#map-page {
  page: map-page;
  position: relative;
  padding: 0;

  .govuk-grid-row  {
    margin: 0;
  }
  .govuk-grid-column-full { // 960px wide == 240 * 4
    padding: 0;
  }
  .map-container { // the figure
    margin: 0;
    padding: 0;
    width: 100%;
    height: 730px;
    .screenshot-image {
      width: 720px;
      height: 640px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .esri-scale-bar {
      position: absolute;
      bottom: 18px;
      left: 8px;
    }
    .map-footer {
      width: 100%;
      height: 80px;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 1em;
      line-height: 8mm;
    }
    .map-legend {
      border-left-width: 0;
      width: 236px;
      height: 640px;
      position: absolute;
      top: 0;
      right: 0;
      // Flex layout
      display: flex;
      flex-direction: column;
      > div {
        padding: 2px 6px;
        display: flex;
        flex-direction: column;
      }
      .map-legend-logo {
        h2 {
          color: green;
        }
      }
      .map-legend-parameters {
        .parameter {
          display: flex;
          flex-direction: column;
          .govuk-heading-s {
            margin-bottom: 8px;
            margin-left: 8px;

          }
          .govuk-body {
            margin-bottom: 8px;
            margin-left: 8px;
          }
        }
      }
      .map-legend-values {
        flex-basis: 100%;
        .value {
          display: flex;
          flex-direction: row;
        margin-bottom: -0.5em;
          .img {
            width: 10mm;
            padding-right: 2.8em;

          }
        }
      }
    }
  }
  @media print {
    width: 280mm;
    height: 205mm;
    .map-container { // the figure
      width: 280mm;
      height: 205mm;
      .screenshot-image {
        border-width: 1mm;
        width: 225mm;
        height: 200mm;
      }
      .esri-scale-bar {
        bottom: 7mm;
        left: 2mm;
      }
      .map-footer {
        width: 280mm;
        height: 5mm;
        font-size: 9pt;
        line-height: 8mm;
      }
      .map-legend {
        border-width: 1mm;
        border-left-width: 0;
        width: 53mm;
        height: 200mm;
      }
    }
  }
}

  @media print {
    .no-print {
      display: none;
    }
  }
// End of fix of  a Map Component bug (must be fixed there)