{% extends "design-history/_layouts/post.html" %}

{% block post %}

<h1 class="govuk-heading-xl">Research round v3.7.0.2</h1>

<p class="govuk-body-l">
  Published <time datetime="2026-09-25">TBC</time>
</p>

<p class="govuk-body">
  Flood map for planning research round exploring boundary upload and research sign-up features.
</p>

<h2 class="govuk-heading-l">Research focus</h2>

<p class="govuk-body">
  This research round tested prototypes for uploading property boundaries and capturing user research participation.
</p>

<h2 class="govuk-heading-l">Key areas explored</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Boundary upload interaction</li>
  <li>Research sign-up flow</li>
</ul>

<h2 class="govuk-heading-l">Screenshots</h2>

<p class="govuk-body">
  To auto-generate screenshots of all pages in this version, run:
</p>

<pre class="govuk-body"><code>node scripts/screenshot-version-3-7-0-2.js --version 3.7.0.2</code></pre>

<p class="govuk-body">
  This will capture full-page screenshots of all pages listed in "Changed pages in this version" and generate HTML ready to paste here.
</p>

<!-- Screenshots will be inserted here -->

{% endblock %}
