
<!-- Generated screenshots -->

<h2 class="govuk-heading-l">Start page</h2>
<p class="govuk-body"></p>
<img src="images/01-start-page.png" alt="Screenshot of Start page">

<h2 class="govuk-heading-l">Upload boundary</h2>
<p class="govuk-body"></p>
<img src="images/02-upload-boundary.png" alt="Screenshot of Upload boundary">

<h2 class="govuk-heading-l">300 hectare error</h2>
<p class="govuk-body"></p>
<img src="images/03-300-hectare-error.png" alt="Screenshot of 300 hectare error">

<h2 class="govuk-heading-l">File format error</h2>
<p class="govuk-body"></p>
<img src="images/04-file-format-error.png" alt="Screenshot of File format error">

<h2 class="govuk-heading-l">File size error</h2>
<p class="govuk-body"></p>
<img src="images/05-file-size-error.png" alt="Screenshot of File size error">

<h2 class="govuk-heading-l">Boundary format error</h2>
<p class="govuk-body"></p>
<img src="images/06-boundary-format-error.png" alt="Screenshot of Boundary format error">

<h2 class="govuk-heading-l">Check your details</h2>
<p class="govuk-body"></p>
<img src="images/07-check-your-details.png" alt="Screenshot of Check your details">

<h2 class="govuk-heading-l">Check your details (no research sign up)</h2>
<p class="govuk-body"></p>
<img src="images/08-check-your-details-no-research-sign-up.png" alt="Screenshot of Check your details (no research sign up)">

<h2 class="govuk-heading-l">Confirmation page</h2>
<p class="govuk-body"></p>
<img src="images/09-confirmation-page.png" alt="Screenshot of Confirmation page">

<h2 class="govuk-heading-l">Confirmation email</h2>
<p class="govuk-body"></p>
<img src="images/10-confirmation-email.png" alt="Screenshot of Confirmation email">
