{% extends "design-history/_layouts/post.html" %}

{% block post %}

<h1 class="govuk-heading-xl">Research round v3.7.0.3</h1>

<p class="govuk-body-l">
  Published <time datetime="TBC">TBC</time>
</p>

<p class="govuk-body">
  User research round exploring Product 1 and map styling updates.
</p>

<h2 class="govuk-heading-l">Research focus</h2>

<p class="govuk-body">
  [Research findings and focus areas to be added]
</p>

<h2 class="govuk-heading-l">Screenshots</h2>

<!-- Generated screenshots -->

<h2 class="govuk-heading-l">Product 1</h2>
<p class="govuk-body"></p>
<img src="images/01-product-1.png" alt="Screenshot of Product 1">

{% endblock %}
