{% extends "layouts/main.html" %}

{% block pageTitle %}
  upload check page - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ backlink | safe }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ formAction }}" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="selection-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Check your upload
            </h1>
          </legend>
          <div id="contact-hint" class="govuk-hint">
<p class="govuk-body"><strong>File name</strong> Proposed_new_building.GEOjson</p>
       
        


          <img src="/public/images/boundary_img_10m.png" style="max-width: 70%; margin-bottom: 10px; height: auto;border-width: 1px;border-style: solid;border-color: rgb(160, 148, 148);" alt="map">
          
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                See boundary at a larger scale
              </span>
            </summary>
            <div class="govuk-details__text">
              <img src="/public/images/boundary_img_200m.png" style="max-width: 70%;height: auto;border-width: 1px;border-style: solid;border-color: rgb(160, 148, 148);" alt="map">
            </div>
          </details>
        </div>

          <fieldset class="govuk-fieldset" aria-describedby="selection-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
                Is this file correct?
              </h3>
            </legend>
  
            <div class="govuk-radios" data-module="govuk-radios">
  
              <!-- Option 1: Place or postcode -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="selection-1" name="selectionType" type="radio" value="reviewShape" data-aria-controls="conditional-selection-1">
                <label class="govuk-label govuk-radios__label" for="selection-1">Yes, add this file and review shape on the map</label>
              </div>
  
              <!-- Option 2: NGR -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="selection-2" name="selectionType" type="radio" value="results" data-aria-controls="conditional-selection-2">
                <label class="govuk-label govuk-radios__label" for="selection-2">Yes, add this file and go to results summary</label>
              </div>
  
              <!-- Option 3: Easting/Northing -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="selection-3" name="selectionType" type="radio" value="chooseAgain" data-aria-controls="conditional-selection-3">
                <label class="govuk-label govuk-radios__label" for="selection-3">No, I want to choose again</label>
              </div>
  
            </div>
          </fieldset>

      </div>
      <button type="submit" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Continue
      </button>
    </form>


  </div>
</div>

{% endblock %}
