{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set imgpath="/public/images/email/" %}

{% block page_title %}
  Gmail | Flood risk activity exemption application
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<div id="email">

<div id="gmail_header">
  <img src="{{ imgpath }}gmail_header.png" alt="" />
</div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter" style="padding-bottom: 50em;">
      <img src="{{ imgpath }}gmail_menu_left.png" alt="" />
    </div>


    <div class="govuk-grid-column-three-quarter">

      <p class="subject">
        Confirmation of request for flood risk data. Your reference number AFRWH6H5YBFC <img class="inboxicon" src="{{ imgpath }}gmail_icon_inbox.png" alt="" />
      </p>

      <p class="from">
        <img src="{{ imgpath }}gmail_from_text.png" alt="" />
      </p>

      <div id="email_text">

        <div id="banner" style="background-color:#015297; margin-left: 50px; margin-bottom: 2em;"><img style="width: 15%; height: auto; max-width: initial; max-height: initial" src="{{ imgpath }}new-branding-gov-uk-header.png" alt="GOV.UK"/></div>


        


        <p class="govuk-body">
          Dear {{ data['full-name'] }},
        </p>

        <p class="govuk-body">
          Thank you for ordering flood risk data.
        </p>
        <p class="govuk-body">
          Location data requested for: 361090,387789 easting and northing coordinates.
        </p>
        <p class="govuk-body">
          Your reference number is: AFRWH6H5YBFC.
        </p>
        <p class="govuk-body">
          You should receive your flood risk data by email within 20 working days.
        </p>
        <p class="govuk-body">
          You should not submit another request for data for the same location after you have placed an order. We will not action a request for the same location if the email address is the same. If you request the same data twice, it will not speed up your order. If you have any questions about your order, please use the contact details below.
        </p>
      </div>

        <h2 class="govuk-heading-m">Contact us</h2>

        <p class="govuk-body">
          Do not reply to this email. This inbox is not checked regularly.
        </p>

        <p class="govuk-body">
          If you have any questions about your order, or no longer need the data, contact the Greater Manchester Merseyside and Cheshire Environment Agency team at <a href="mailto:inforequests.gmmc@environment-agency.gov.uk">inforequests.gmmc@environment-agency.gov.uk</a>. Make sure you include your reference number.
        </p>

        <p class="govuk-body">
          Regards,
        </p>

        <p class="govuk-body">
          Flood map for planning service
          Environment Agency</br>
          <a href="https://flood-map-for-planning.service.gov.uk/">https://flood-map-for-planning.service.gov.uk/</a>
        </p>

        <div class="hmrc-user-research-banner" data-module="hmrc-user-research-banner" style="margin-left: 11em;">
  <div class="hmrc-user-research-banner__container govuk-width-container">
    <div class="hmrc-user-research-banner__text">
      <h2 class="govuk-heading-s hmrc-user-research-banner__title">
        Help make GOV.UK better
      </h2>
      <a class="govuk-link hmrc-user-research-banner__link" rel="noopener noreferrer" href="https://defragroup.eu.qualtrics.com/jfe/form/SV_cLJw0hKOqnBuchE" target="_blank">
        Sign up to take part in research (opens in new tab)
      </a>
    </div>
  </div>
</div>

      </div><!-- // end #email_text -->

    </div><!-- // end .column 3/4 -->

  </div><!-- // end .grid_row -->

</div><!-- // end #email -->

{% endblock %}
