{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload page - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ backlink | safe }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="/{{ folder }}/map?cz=453599.2,175053.5,19.505469&polygon=[[453553.14,175066.61],[453551.31,175080.65],[453557.79,175081.49],[453558.85,175070.12],[453564.52,175070.96],[453565.12,175068.01],[453569.17,175068.33],[453568.87,175070.8],[453580.34,175072.95],[453579.61,175075.38],[453584.34,175076.35],[453584.7,175073.69],[453607.34,175077.52],[453607.37,175075.96],[453610.81,175076.45],[453612.08,175071.77],[453607.9,175070.69],[453608.22,175069.56],[453598.82,175068.09],[453599.24,175066.29],[453594.58,175064.9],[453593.72,175067.2],[453589.18,175066.7],[453590.02,175063.56],[453591.3,175063.82],[453593.3,175051.07],[453586.92,175049.81],[453584.78,175062.92],[453585.65,175063.06],[453585.17,175066.06],[453581.48,175065.73],[453581.7,175063.47],[453576.54,175062.31],[453576.14,175064.72],[453571.94,175064.05],[453572.44,175061.98],[453561.15,175060.15],[453559.54,175067.43],[453553.14,175066.61]]" method="post">



      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="location-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Upload a prepared site boundary
              </h1>
          </legend>
          <p class="govuk-body">
            You can upload your boundary in any of the following formats:
          </p>          
            <ul class="govuk-list govuk-list--bullet">
              <li>GeoJSON (.geojson)</li>
              <li>Geopackage (.gpkg)</li>
              <li>Shape files (.zip)</li>
            </ul>
          <p class="govuk-body">
            Maximum size 50MB 
          </p>

          <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#passport-issued-year">The boundary is too big to order detailed flood risk information </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="govuk-form-group govuk-form-group--error"">
            <label class="govuk-label" for="file-upload-1" id="file-upload-1-label">
              Upload a file
            </label>

              <p id="file-upload-1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>The boundary is too big to order detailed flood risk information.  
                </br></br>
              You can: 
              <ul class="govuk-list govuk-list--bullet  govuk-!-font-weight-bold error-list">
                <li style="color: #d4351c;">upload a new boundary: the boundary must be under 300 hectares to order detailed flood risk data (product 4) </li>
                <li style="color: #d4351c;">continue with this boundary: you will not be able to order detailed flood risk information but you can still download a flood map (product 1) </li>
              </ul> 
              </p>
            <div class="govuk-drop-zone" data-module="govuk-file-upload" data-govuk-file-upload-init=""><button class="govuk-file-upload-button" type="button" id="file-upload-1" aria-labelledby="file-upload-1-label file-upload-1-comma file-upload-1"><span class="govuk-body govuk-file-upload-button__status" aria-live="polite">Shape_file</span><span class="govuk-visually-hidden" id="file-upload-1-comma">, </span><span class="govuk-file-upload-button__pseudo-button-container"><span class="govuk-button govuk-button--secondary govuk-file-upload-button__pseudo-button">Choose file</span> <span class="govuk-body govuk-file-upload-button__instruction">or drop file</span></span></button>
 
              <input class="govuk-file-upload" id="file-upload-1-input" name="fileUpload1" type="file" hidden="true" tabindex="-1" aria-hidden="true" value="test">
            </div><span class="govuk-file-upload-announcements govuk-visually-hidden" aria-live="assertive"></span>
          </div>

        </fieldset>
      </div>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I do not have a boundary to upload
    </span>
  </summary>
  <div class="govuk-details__text">
      You can add a polygon or a square from the map page. 
  </div>
</details>
      <button type="submit" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Continue
      </button>
    </form>


  </div>
</div>

{% endblock %}
