{% extends "layouts/main.html" %}

{% block pageTitle %}
  Next steps – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
  
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-xl">
          Next steps for your planning application 
        </h1>
        <h3 class="govuk-heading-m">
          Decide what you need for your planning application  
        </h3>
        <p>Contact your local planning authority to check their requirements.</p>
        </br>
        <p>Your local planning authority is Bristol City Council. </p>
        </br>
        <p>Get a flood risk assessment (FRA). You will normally need to pay a flood risk specialist to carry it out. </p>
        </br>
        <p>For developments in flood zone 3 your FRA should include an assessment of all sources of flooding and <a href="">take into account climate change allowances</a>. </p>
        </br>
        <p>Find out <a href="#">how to do an assessment</a>. </p>
        </br>
        <p>Find out more about <a href="flood-zones">flood zones and what they mean</a>. </p>
      </br>
        <p>When using the surface water map on the <a href="https://check-long-term-flood-risk.service.gov.uk/map">check your long term flood risk service</a> the following considerations apply: </p>
      </br>
       <ul class="govuk-list govuk-list--bullet">
          <li>surface water extents are suitable for use in planning </li>
          <li>surface water climate change scenarios may help to inform risk assessments, but the available data fall short of what is required to assess planned development </li>
          <li>surface water depth information should not be used for planning purposes </li>
        </ul>
       
       <p>
          To find out about other factors that might affect the flood risk of this location, you should also check:  
        </p>
        </br>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.gov.uk/check-long-term-flood-risk">reservoir flood risk</a>  </li>
          <li>
            groundwater flood risk – you could use the <a href="https://www.bgs.ac.uk/datasets/groundwater-flooding/">British Geological Survey groundwater flooding data</a>, <a href="https://www.gov.uk/government/collections/groundwater-current-status-and-flood-risk">groundwater: current status and flood risk</a> and the guide on <a href="https://www.gov.uk/guidance/mining-and-groundwater-constraints-for-development">mining and groundwater constraints for development</a> – further information may be available from the lead local flood authority (LLFA) 
          </li>
          <li>
            your local planning authority’s strategic flood risk assessment (SFRA), which includes future flood risk. 
          </li>
        </ul>

        <h3 class="govuk-heading-m">
          Other data you may need   
        </h3>

      <p>You will also need to assess <a href="https://www.gov.uk/guidance/flood-risk-and-coastal-change#para41">residual risk</a> from flood defence breach in this location. If available, we will provide breach hazard mapping data to help you do this. </p>

       </br>

      <h3 class="govuk-heading-m">
        Get help    
      </h3>

    <p>
      For help deciding what flood risk information you need, email the Environment Agency team in Greater Manchester, Merseyside and Cheshire at <a href="#">Inforequests.GMMC@environment-agency.gov.uk</a>.
    </p>

  </br>
  <h3 class="govuk-heading-m">
    Get flood risk data for rivers and the sea  
  </h3>
      <h4 class="govuk-heading-s">
        Download the flood map for this location      
      </h4>

        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details" data-journey-click="Flood-Zone-Results:DETAIL-CLICK:Add-A-Reference">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Add a reference to the flood map and set the scale
            </span>
          </summary>
          <div class="govuk-details__text">
            <form class="form" id="product-1-form" method="POST" action="pdf">
              <input name="id" type="hidden">
              <input name="zone" type="hidden" value="FZ1">
              <input name="polygon" type="hidden" value="[[362191,174450],[362281,174351],[362010,174333],[362191,174450]]">
              <input name="center" type="hidden" value="[362145,174391]">
              <input name="holdingComments" type="hidden" value="false">
    
              <div class="govuk-form-group">
                <h3 class="govuk-label-wrapper">
                  <label class="govuk-label--m" for="reference">
                    Add a reference
                  </label>
                  <span class="govuk-hint govuk-hint--block">
                    Optional. This is chosen by you to help you find the report
                    later and should be less than 25 characters.
                  </span>
                </h3>
                <input class="govuk-input form-control govuk-input--width-20" id="reference" name="reference" type="text" maxlength="13">
              </div>
    
              <div class="govuk-form-group">
                <h3 class="govuk-label-wrapper">
                  <label class="govuk-label--m" for="scale"> Scale </label>
                  <span class="govuk-hint govuk-hint--block">
                    Select the scale of the map shown in the report
                  </span>
                </h3>
                <select class="govuk-select" id="scale" name="scale">
                  <option value="2500">1:2500</option>
                  <option value="10000">1:10000</option>
                  <option value="25000">1:25000</option>
                  <option value="50000">1:50000</option>
                </select>
              </div>
            </form>
          </div>
        </details>
</br>
     <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Download flood map for this location (PDF)
    </button>
      </br>
    </br>
      <h3 class="govuk-heading-m">
        Order detailed flood risk data        
      </h3>
<p>The flood risk data usually includes:  </p>
</br>

<ul class="govuk-list govuk-list--bullet">
<li>detailed flood data  </li>
<li>past flood event data  </li>
<li>modelled flood levels and extents  </li>
<li>flood defence locations and attributes  </li>
</ul>
    <p>You should receive your data within 20 working days. </p>

</br>
    <a href="contact" class="govuk-button" data-module="govuk-button">
      Order flood risk data
    </a>

      
      </div>

    </div>

  </main>
  
</div>

{% endblock %}