
{% extends "layouts/main.html" %}

{% block pageTitle %}
How you can use the data
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

<h1 class="govuk-heading-l">
  Title 
</h1>
<h2 class="govuk-heading-m">
  What are the rivers and sea supporting layers? 
</h2>

<p class="govuk-body">
  For the first time, we have published additional layers rivers and sea flood risk alongside the Flood Zones. These show flood risk with defences and without defences, for present day and for climate change. We have published this new data to support developers in meeting the requirements set by national planning policy and guidance. 
</p>

<h2 class="govuk-heading-m">
  How have the river and sea layers been produced and why are there sometimes inconsistencies?
</h2>

<p class="govuk-body">
  Our NaFRA2 system brings together local modelling and national modelling. In some locations all the layers are only from local models. In others they are only from the national model. However, in some locations the layers are selected from a mixture of both local and national models.
</p>

<p class="govuk-body">
  In most locations, relevant layers have been combined with other sources of data to create the flood zones. However, in some areas, our older flood zones have been retained while we work on improvements. In these locations the river and sea layers have been produced with our new data, whereas the flood zones continue to use our older data. 
  These are the main reasons why inconsistencies sometimes exist.   
</p>

<h2 class="govuk-heading-m">
What inconsistencies do the layers show? 
</h2>

<p class="govuk-body">
  In some locations, the new layers show inconsistent results. For example, these include:  
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    1 in 30 defended extents being bigger than 1 in 100 defended extents 
  </li>
  <li>
    1 in 100 undefended present day extents being bigger than 1 in 100 undefended climate change extents
  </li>
  <li>
    Defended extents being larger than undefended extents
  </li>
</ul>

<p class="govuk-body">
  These issues only exist in some locations. The Flood Zones are not affected by these issues. 
</p>

<p class="govuk-body">
  We have produced these layers using a new process as part of our new national flood risk assessment (NaFRA2). NaFRA2 brings together local modelling and national modelling. In a given location: 
</p>

<ul class="govuk-list govuk-list--bullet">
<li>
  all the layers could be from local modelling 
</li>
<li>
  all the layers could be from national modelling  
</li>
<li>
  some layers could be from local modelling and others from national modelling  
</li>
</ul>

<p class="govuk-body">
  The main reasons for inconsistencies in these layers are: 
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Results showing differences in modelling (e.g. between national and local modelling). 
  </li>
  <li>
    Results showing poor data quality. In some known locations
  </li>
</ul>

<h2 class="govuk-heading-m">
  What are we doing about these inconsistencies? 
</h2>
<p class="govuk-body">
  We are analysing the new data to better understand these inconsistencies. Improvements and updates are already planned later in 2025 which will help to resolve many of these issues. We may make further updates to the Flood Map for Planning to more clearly highlight where we know inconsistencies exist.  
</p>

<h2 class="govuk-heading-m">
  How should the data be used? 
</h2>
<p class="govuk-body">
  Users of any flood risk data should always satisfy themselves that it is suitable for its intended use. No flood risk modelling data is perfect. To produce a suitable flood risk assessment, other datasets and additional assessment will always be needed. 
</p>

<p class="govuk-body">
  We continue to have a high level of confidence in the flood zones. The flood zones are the statutory triggers for local planning authorities to check if they must consult the Environment Agency or apply standing advice. You can find out if the Environment Agency will be consulted on your application or if flood risk standing advice applies, by visiting <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications">risk assessments: applying for planning permission</a>. 
</p>

<!-- <p class="govuk-body">
  The table below explains how the datasets shown on Flood Map for Planning should be used in planning. 
</p>
 -->

</div>
</div>
</br>
<h2 class="govuk-heading-m">
  Datasets suitable for planning activities
</h2>



    <!-- surface water-->
    <div class="govuk-summary-card govuk-!-margin-top-3" id="surface-water">          

      <div class="govuk-summary-card__title-wrapper vlow">

        <h2 class="govuk-summary-card__title">Flood risk assessment</h2>
        <ul class="govuk-summary-card__actions">
    
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Inform a Flood risk assessment
            </dt>
            <dd class="govuk-summary-list__value">
            <p class="govuk-body">You can use all the data layers to inform a Flood risk assessment.</p>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Identify the need for Flood Risk Assessment
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">To identify the need for Flood Risk Assessment use:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>flood zones 2 and 3</li>
                  <li>water storage areas</li>
                  <li>all rivers and sea, and surface water layers</li>
                </ul>
                </dd>




</div>
</div>
</div>


    <!-- surface water-->
    <div class="govuk-summary-card govuk-!-margin-top-3" id="surface-water">          

      <div class="govuk-summary-card__title-wrapper vlow">

        <h2 class="govuk-summary-card__title">Exception and sequential test </h2>
        <ul class="govuk-summary-card__actions">
    
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Inform application of exception and sequential test
            </dt>
            <dd class="govuk-summary-list__value">
            <p class="govuk-body">To inform application of exception and sequential test use:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>flood zones 2 and 3</li>
                  <li>defences</li>
                  <li>all rivers and sea, and surface water layers</li>
                  <li>water storage areas (if local planning authority’s strategic flood risk assessment defines as Flood Zone 3b)</li>
                </ul>
                </dd>




</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Identify the need for exception test
  </dt>
  <dd class="govuk-summary-list__value">
  <p class="govuk-body">To identify the need for exception test use:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>flood zones 2 and 3</li>
        <li>water storage areas (if local planning authority’s strategic flood risk assessment defines as Flood Zone 3b)</li>
        <li>rivers and sea 3.3% (if local planning authority’s strategic flood risk assessment defines as Flood Zone 3b)</li>
      </ul>
      </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Identify the need for sequential test
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body">To identify the need for sequential test use:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>flood zones 2 an 3</li>
      <li>water storage areas (if local planning authority’s strategic flood risk assessment defines as Flood Zone 3b)</li>
      <li>all rivers and sea, and surface water layes</li>
    </ul>
      </dd>
</div>
</div>

</div>
    <!-- surface water-->
    <div class="govuk-summary-card govuk-!-margin-top-3" id="surface-water">          

      <div class="govuk-summary-card__title-wrapper vlow">

        <h2 class="govuk-summary-card__title">Local planning authority designation of 3b (functional floodplain) in strategic flood risk assessment</h2>
        <ul class="govuk-summary-card__actions">
    
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          

          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              <p class="govuk-body">To Inform local planning authority designation of 3b (functional floodplain), in strategic flood risk assessment, subject to local agreement with the Environment Agency, use:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>water storage area</li>
                <li>rivers and sea 3.3%</li>
              </ul>
                </dd>




</div>
</div>
</div>
    <!-- surface water-->
    <div class="govuk-summary-card govuk-!-margin-top-3" id="surface-water">          

      <div class="govuk-summary-card__title-wrapper vlow">

        <h2 class="govuk-summary-card__title">Development incompatibility</h2>
        <ul class="govuk-summary-card__actions">
    
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          

          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              <p class="govuk-body">To check development incompatibility – <a href="">Table 2 PPG</a> use:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>flood zones 2 and 3</li>
                <li>water storage areas (subject to local agreement with the Environment Agency)</li>
                <li>rivers and sea 3.3 (subject to local agreement with the Environment Agency)</li>
              </ul>
                </dd>




</div>
</div>
</div>

    <!-- surface water-->
    <div class="govuk-summary-card govuk-!-margin-top-3" id="surface-water">          

      <div class="govuk-summary-card__title-wrapper vlow">

        <h2 class="govuk-summary-card__title">
          Trigger local planning authority to consult Environment Agency or apply standing advice

        </h2>
        <ul class="govuk-summary-card__actions">
    
        </ul>
      </div>

     
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Data that can be used to trigger this process
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Subject to the apply process set out in National flood Risk Standing Advice for local planning authorities:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>flood zones</li>
              <li>main rivers</li>
             </ul>
            
             <p class="govuk-body">If local planning authority’s strategic flood risk assessment defines as Flood Zone 3b:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>water storage areas</li>
              <li>rivers and sea 3.3%</li>
            </ul>

            <p class="govuk-body">All climate change rivers and sea layers if site location is FZ1, in which case, apply National flood risk standing advice for local planning authorities as if site were Flood Zone 2.</p>
          </dd>

</div>
</div>
</div>

<!-- <p class="govuk-body">* subject to apply the process set out in National flood Risk Standing Advice for local planning authorities
</p>
<p class="govuk-body">
  ** If local planning authority’s strategic flood risk assessment defines as Flood Zone 3b
</p>
<p class="govuk-body">
  *** subject to local agreement with the Environment Agency
</p>
<p class="govuk-body">
  **** Only if site location is FZ1, in which case, apply National flood risk standing advice for local planning authorities as if site were Flood Zone 2
</p> -->
{% endblock %}