
{% extends "layouts/main.html" %}

{% block pageTitle %}
How you can use the data
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}




<h1 class="govuk-heading-xl">
  Data suitable for planning activities</h1>



    <!-- surface water-->
    <div class="govuk-summary-card govuk-!-margin-top-3" id="surface-water">          

      <div class="govuk-summary-card__title-wrapper vlow">

        <h2 class="govuk-summary-card__title">Flood risk assessment</h2>
        <ul class="govuk-summary-card__actions">
    
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Inform a Flood risk assessment
            </dt>
            <dd class="govuk-summary-list__value">
            <p class="govuk-body">You can use all the data layers to inform a Flood risk assessment.</p>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Identify the need for Flood Risk Assessment
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">To identify the need for Flood Risk Assessment use:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>flood zones 2 and 3</li>
                  <li>water storage areas</li>
                  <li>all rivers and sea, and surface water layers</li>
                </ul>
                </dd>




</div>
</div>
</div>


    <!-- surface water-->
    <div class="govuk-summary-card govuk-!-margin-top-3" id="surface-water">          

      <div class="govuk-summary-card__title-wrapper vlow">

        <h2 class="govuk-summary-card__title">Exception and sequential test </h2>
        <ul class="govuk-summary-card__actions">
    
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Inform application of exception and sequential test
            </dt>
            <dd class="govuk-summary-list__value">
            <p class="govuk-body">To inform application of exception and sequential test use:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>flood zones 2 and 3</li>
                  <li>defences</li>
                  <li>all rivers and sea, and surface water layers</li>
                  <li>water storage areas (if local planning authority’s strategic flood risk assessment defines as Flood Zone 3b)</li>
                </ul>
                </dd>




</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Identify the need for exception test
  </dt>
  <dd class="govuk-summary-list__value">
  <p class="govuk-body">To identify the need for exception test use:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>flood zones 2 and 3</li>
        <li>water storage areas (if local planning authority’s strategic flood risk assessment defines as Flood Zone 3b)</li>
        <li>rivers and sea 3.3% (if local planning authority’s strategic flood risk assessment defines as Flood Zone 3b)</li>
      </ul>
      </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Identify the need for sequential test
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body">To identify the need for sequential test use:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>flood zones 2 an 3</li>
      <li>water storage areas (if local planning authority’s strategic flood risk assessment defines as Flood Zone 3b)</li>
      <li>all rivers and sea, and surface water layes</li>
    </ul>
      </dd>
</div>
</div>

</div>
    <!-- surface water-->
    <div class="govuk-summary-card govuk-!-margin-top-3" id="surface-water">          

      <div class="govuk-summary-card__title-wrapper vlow">

        <h2 class="govuk-summary-card__title">Local planning authority designation of 3b (functional floodplain) in strategic flood risk assessment</h2>
        <ul class="govuk-summary-card__actions">
    
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          

          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              <p class="govuk-body">To Inform local planning authority designation of 3b (functional floodplain), in strategic flood risk assessment, subject to local agreement with the Environment Agency, use:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>water storage area</li>
                <li>rivers and sea 3.3%</li>
              </ul>
                </dd>




</div>
</div>
</div>
    <!-- surface water-->
    <div class="govuk-summary-card govuk-!-margin-top-3" id="surface-water">          

      <div class="govuk-summary-card__title-wrapper vlow">

        <h2 class="govuk-summary-card__title">Development incompatible <a href="">Table 2 PPG</a></h2>
        <ul class="govuk-summary-card__actions">
    
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          

          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              <p class="govuk-body">To check development incompatible – <a href="">Table 2 PPG</a> use:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>flood zones 2 and 3</li>
                <li>water storage areas (subject to local agreement with the Environment Agency)</li>
                <li>rivers and sea 3.3 (subject to local agreement with the Environment Agency)</li>
              </ul>
                </dd>




</div>
</div>
</div>

    <!-- surface water-->
    <div class="govuk-summary-card govuk-!-margin-top-3" id="surface-water">          

      <div class="govuk-summary-card__title-wrapper vlow">

        <h2 class="govuk-summary-card__title">
          Request for local planning authority to consult Environment Agency or apply standing advice

        </h2>
        <ul class="govuk-summary-card__actions">
    
        </ul>
      </div>

     
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Data that can be used to trigger for local planning authority to consult Environment Agency, or apply standing advice
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Subject to apply the process set out in National flood Risk Standing Advice for local planning authorities:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>flood zones</li>
              <li>main rivers</li>
             </ul>
            
             <p class="govuk-body">If local planning authority’s strategic flood risk assessment defines as Flood Zone 3b:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>water storage areas</li>
              <li>rivers and sea 3.3%</li>
            </ul>

            <p class="govuk-body">All climate change rivers and sea layers if site location is FZ1, in which case, apply National flood risk standing advice for local planning authorities as if site were Flood Zone 2.</p>
          </dd>

</div>
</div>
</div>

<!-- <p class="govuk-body">* subject to apply the process set out in National flood Risk Standing Advice for local planning authorities
</p>
<p class="govuk-body">
  ** If local planning authority’s strategic flood risk assessment defines as Flood Zone 3b
</p>
<p class="govuk-body">
  *** subject to local agreement with the Environment Agency
</p>
<p class="govuk-body">
  **** Only if site location is FZ1, in which case, apply National flood risk standing advice for local planning authorities as if site were Flood Zone 2
</p> -->
{% endblock %}