
{% extends "layouts/main.html" %}

{% block pageTitle %}
How you can use the data
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}




<h1 class="govuk-heading-xl">
How you can use the data</h1>



    <!-- surface water-->
    <div class="govuk-summary-card govuk-!-margin-top-3" id="surface-water">          

      <div class="govuk-summary-card__title-wrapper vlow">

        <h2 class="govuk-summary-card__title">Data suitable for planning activities</h2>
        <ul class="govuk-summary-card__actions">

          
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Flood risk assessment
            </dt>
            <dd class="govuk-summary-list__value">
            <p class="govuk-body">You can use all the data layers to inform a Flood risk assessment.</p>
          <hr>
            <p class="govuk-body">To identify the need for Flood Risk Assessment use:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Flood zones 2 and 3</li>
              <li>Water storage areas</li>
              <li>All rivers and sea, and surface water layers</li>
            </ul>
          </br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Exception and sequential test   
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">To inform application of exception and sequential test use:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Flood zones 2 and 3</li>
                <li>Defences</li>
                <li>All rivers and sea, and surface water layers</li>
                <li>Water storage areas**</li>
              </ul>
              <hr>
              <p class="govuk-body">To identify the need for exception test use:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Flood zones 2 and 3</li>
                <li>water storage areas**</li>
                <li>Rivers and sea 3.3%**</li>
              </ul>
            <hr>
            <p class="govuk-body">To identify the need for sequential test use:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Flood zones 2 an 3</li>
              <li>Water storage areas**</li>
              <li>All rivers and sea, and surface water layes</li>
            </ul>
          </br>

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Local planning authority designation of 3b (functional floodplain) in strategic flood risk assessment 
            </dt>
            <dd class="govuk-summary-list__value">
            <p class="govuk-body">To Inform local planning authority designation of 3b (functional floodplain) in strategic flood risk assessment use:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>water storage areas***</li>
              <li>Rivers and sea 3.3%***</li>
            </ul>
          </br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Development incompatible <a href="">Table 2 PPG</a>
            </dt>
            <dd class="govuk-summary-list__value">
            <p class="govuk-body">To check development incompatible – Table 2 PPG use:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Flood zones 2 and 3</li>
              <li>Water storage areas***</li>
              <li>Rivers and sea 3.3%***</li>
            </ul>
          </br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Local planning authority to consult Environment Agency or apply standing advice
            </dt>
            <dd class="govuk-summary-list__value">
            <p class="govuk-body">To trigger for local planning authority to consult Environment Agency or apply standing advice use:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Flood zones*</li>
              <li>Main rivers*</li>
              <li>Water storage areas**</li>
              <li>Rivers and sea 3.3%**</li>
              <li>All Climate change Rivers and sea layers****</li>
            </ul>
          </br>
            </dd>
          </div>
      </div>
    </div>

    <p class="govuk-body">* subject to apply the process set out in National flood Risk Standing Advice for local planning authorities
    </p>
    <p class="govuk-body">
      ** If local planning authority’s strategic flood risk assessment defines as Flood Zone 3b
    </p>
    <p class="govuk-body">
      *** subject to local agreement with the Environment Agency
    </p>
    <p class="govuk-body">
      **** Only if site location is FZ1, in which case, apply National flood risk standing advice for local planning authorities as if site were Flood Zone 2
    </p>
  </div>
  


</div>

</div>




</br>

<!-- <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Download flood map for this location (PDF)
</button>
</br>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Order flood risk data
</button> -->

</br>
</br>
</br>



</div>



{% endblock %}