{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p><strong>Location page options</strong></br>
      <ul class="govuk-list">
        <li>
          Location options as <a class="govuk-link" href="/radioOption">radio options</a>
        </li>
        <li>
          Location search <a class="govuk-link" href="/skipLink">input and skip link</a>
        </li>
        <li>
      </ul>
      
    </p>


  </div>
</div>

{% endblock %}
