{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p><strong>Prototype versions</strong></br>
      <ul class="govuk-list">
        <li>
          Prototype with Defra map componant version 1, results page
          </br>
          <a class="govuk-link" href="/results-a">option a</a>
        </br>
          <a class="govuk-link" href="/results-b">option b</a>
        </li>
      </ul>
      
    </p>


  </div>
</div>

{% endblock %}
