{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set placeHtml %}
        {{ govukInput({
          id: "place",
          name: "place",
          type: "text",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Place or postcode",
            classes: "govuk-visually-hidden"
          },
          hint: {
            text: "For example, Bakewell or WA4 1AB"
          }
        }) }}
        {% endset -%}

        {% set ngrHtml %}
        {{ govukInput({
          id: "ngr",
          name: "ngr",
          type: "text",
          classes: "govuk-!-width-one-third",
          label: {
            text: "National Grid Reference (NGR)",
            classes: "govuk-visually-hidden"
          },
          hint: {
            text: "For example, SJ8632197947 (10 or 12 digits)"
          }
        }) }}
        {% endset -%}

        {% set eastingHtml %}
        <div id="eastings-northings-hint" class="govuk-hint">
          Eastings and northings should only include numbers.  For example: 123456
        </div>
        {{ govukInput({
          id: "easting",
          name: "easting",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Easting"
          }
        }) }}
        {{ govukInput({
          id: "northing",
          name: "northing",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Northing"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "contact",
          fieldset: {
            legend: {
              text: "Find the location",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Place or postcode",
              text: "Place or postcode",
              conditional: {
                html: placeHtml
              }
            },
            {
              value: "National Grid Reference (NGR)",
              text: "National Grid Reference (NGR)",
              conditional: {
                html: ngrHtml
              }
            },
            {
              value: "Easting and northing",
              text: "Easting and northing",
              conditional: {
                html: eastingHtml
              }
            }
          ]
        }) }}

        <div class="govuk-form-group">
          <p>
            <a href="/map">Skip to map</a>
          </p>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <p class="govuk-heading-m">
        This service is for planning applications
      </p>
      <p>
        If you are not doing a planning application, you can <a href="#">check your long term flood risk</a>
      </p>
    </div>
  </div>

{% endblock %}
