{% extends "layouts/main.html" %}

{% block pageTitle %}
  Map – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <script>
      /* Only needed if buttonFirst or hyrbid */
      if (location.search.indexOf('view=map') >= 0) {
        if (window.matchMedia('(max-width: 640px)').matches) { // Condition need for Hybrid
          document.body.classList.add('fm-js-hidden')
        }
      }
    </script>

    <h1 class="govuk-visually-hidden">A basic map</h1>
    
    <div id="map"></div>

{% endblock %}

{% block pageScripts %}

    <script src="/public/javascripts/tokens.js"></script>

    <script>
      
        const tokens = {}

        const isDarkBasemap = false

        let map, isDark, isRamp

        const layers = [
            'Surface_water_spatial_planning_1in30_depth_VTP_2',
            'Surface_water_spatial_planning_1in100_depth_VTP',
            'Surface_water_spatial_planning_1in1000_depth_VTP',
            'Rivers_1in30_Sea_1in30_defended_depth_VTP',
            'Rivers_1in100_Sea_1in200_defended_depth_VTP2',
            'Rivers_1in1000_Sea_1in1000_defended_depth_VTP_22',
            'Rivers_1in100_Sea_1in200_undefended_depth_VTP',
            'Rivers_1in1000_Sea_1in1000_undefended_depth_VTP'
        ]

        const ids = [
            'swpdhr',
            'swpdmr',
            'swpdlr',
            'rsdpdhr',
            'rsdpdmr',
            'rsdpdlr',
            'rsupdmr',
            'rsupdlr'
        ]

        const addLayers = (VectorTileLayer) => {
            layers.forEach(layer => {
                map.add(new VectorTileLayer({
                    id: layer,
                    style: {
                        'version': 8,
                        'sources': {
                            'esri': {
                                'type': 'vector',
                                'bounds': [-6.98694, 49.8816, 2.07537, 55.8333],
                                'minzoom': 4,
                                'maxzoom': 16,
                                'scheme': 'xyz',
                                'url': `https://tiles.arcgis.com/tiles/JZM7qJpmv7vJ0Hzx/arcgis/rest/services/${layer}/VectorTileServer`
                            }
                        },
                        'layers': [
                            {
                                'id': layer,
                                'type': 'fill',
                                'source': 'esri',
                                'source-layer': `${layer.split('_VTP')[0]}_N`,
                                'minzoom': 4.7597,
                                'paint': {
                                    'fill-color': '#B26C28'
                                }
                            }
                        ]
                    },
                    visible: false
                }))
            })
        }

        const toggleVisibility = (segments) => {
            // Conditionally add/remove layers might offer better for performance
            layers.forEach((l, i) => {
                const layer = map.findLayerById(l)
                layer.visible = layer.id === layers[i] && segments.join('') === ids[i]
            })
        }

        const setStyle = (layerId, isRamp) => {
            if (!layers.includes(layerId)) return
            const layer = map.findLayerById(layerId)
            const style = layer.getStyleLayer(layerId)
            style.paint = {
                'fill-color': ['match',
                    ['get', '_symbol'],
                    0, isRamp ? isDark ? '#08589e' : '#08589e' : '#2b8cbe', // > 2300
                    1, isRamp ? isDark ? '#2b8cbe' : '#2b8cbe' : '#2b8cbe', // 1200-2300
                    2, isRamp ? isDark ? '#4eb3d3' : '#4eb3d3' : '#2b8cbe', // 900-1200
                    3, isRamp ? isDark ? '#7bccc4' : '#7bccc4' : '#2b8cbe', // 600-900
                    4, isRamp ? isDark ? '#a8ddb5' : '#a8ddb5' : '#2b8cbe', // 300-600
                    5, isRamp ? isDark ? '#ccebc5' : '#ccebc5' : '#2b8cbe', // 150-300
                    6, isRamp ? isDark ? '#f0f9e8' : '#f0f9e8' : '#2b8cbe', // > 150
                    isDark ? '#2b8cbe' : '#2b8cbe' // Extent only
                ],
                'fill-opacity': 0.75
            }
            layer.setStyleLayer(style)
        }

        Promise.all([getOsToken(tokens), getEsriToken(tokens)]).then(() => {
            const fm = new defraMap.FloodMap('map', {
                type: 'hybrid',
                place: 'Newport, Isle of White',
                zoom: 14,
                minZoom: 6,
                maxZoom: 18,
                // centre: [-2.938769, 54.893806],
                centre: [337297, 503995],
                // bbox: [-2.989707, 54.864555, -2.878635, 54.937635],
                // hasReset: true,
                height: '700px',
                provider: {
                    name: 'esri',
                    tokens: tokens,
                    defaultUrl: '{{ env.ESRI_DEFAULT_URL }}',
                    darkUrl: '{{ env.ESRI_DARK_URL }}',
                    // aerialUrl: '{{ env.ESRI_AERIAL_URL }}',
                    // reverseGeocodeProvider: 'esri-world-geocoder',
                    // reverseGeocodeToken: tokens.esri,
                    reverseGeocodeProvider: 'os-open-names',
                    reverseGeocodeToken: '{{ env.OS_API_KEY }}',
                    imagesPath: '/plugin-assets/%40defra%2Fflood-map/plugin/images',
                    symbolPath: '/public/images/symbols',
                    symbolName: ['flood-defence', 'main-river', 'water-storage']
                },
                search: {
                    label: 'Search for a place',
                    isAutocomplete: true,
                    hasGeoLocation: true,
                    provider: 'os-open-names',
                    token: '{{ env.OS_API_KEY }}'
                    // provider: 'esri-world-geocoder',
                    // token: tokens.esri
                },
                legend: {
                    // width: '360px',
                    // display: 'inset',
                    // isVisible: true,
                    title: 'Menu',
                    keyDisplay: 'none',
                    isPersistInUrl: true,
                    symbolPath: '/assets/images/symbols',
                    segments: [
                        {
                            heading: 'Datasets',
                            // collapse: 'collapse',
                            items: [
                                {
                                    id: 'fz',
                                    label: 'Flood zones 2 and 3'
                                },
                                {
                                    id: 'rsd',
                                    label: 'River and sea with defences'
                                },
                                {
                                    id: 'rsu',
                                    label: 'River and sea without defences'
                                },
                                {
                                    id: 'sw',
                                    label: 'Surface water'
                                }

                            ]
                        },
                        {
                            id: 'tf',
                            heading: 'Time frame',
                            collapse: 'collapse',
                            parentIds: ['rsd', 'rsu', 'sw'],
                            items: [
                                {
                                    id: 'pd',
                                    label: 'Present day'
                                },
                                {
                                    id: 'cl',
                                    label: '2040\'s to 2060\'s'
                                }
                            ]
                        },
                        {
                            id: 'af1',
                            heading: 'Annual likelihood of flooding',
                            collapse: 'collapse',
                            parentIds: ['rsd', 'sw'],
                            items: [
                                {
                                    id: 'hr',
                                    label: 'Above 3.3%'
                                },
                                {
                                    id: 'mr',
                                    label: '0.1% to 0.5%'
                                },
                                {
                                    id: 'lr',
                                    label: 'Below 0.1%'
                                }
                            ]
                        },
                        {
                            id: 'af2',
                            heading: 'Annual likelihood of flooding',
                            collapse: 'collapse',
                            parentIds: ['rsu'],
                            items: [
                                {
                                    id: 'mr',
                                    label: '0.1% to 0.5%'
                                },
                                {
                                    id: 'lr',
                                    label: 'below 0.1%'
                                }
                            ]
                        }
                    ],
                    key: [
                        {
                            id: 'md',
                            type: 'ramp',
                            parentIds: ['pd', 'cl'],
                            heading: 'Flood extent and depth',
                            collapse: 'collapse',
                            expandRampHeading: 'Maximum depth in metres', // Optional
                            collapseFillLabel: 'Extent only',
                            fill: '#2b8cbe', // Optional - sets ramp to initial collapse 
                            items: [
                                {
                                    label: 'above 2.3',
                                    fill: '#08589e'
                                },
                                {
                                    label: '2.3',
                                    fill: '#2b8cbe'
                                },
                                {
                                    label: '1.2',
                                    fill: '#4eb3d3'
                                },
                                {
                                    label: '0.9',
                                    fill: '#7bccc4'
                                },
                                {
                                    label: '0.6',
                                    fill: '#a8ddb5'
                                },
                                {
                                    label: '0.3',
                                    fill: '#ccebc5'
                                },
                                {
                                    label: '0.15',
                                    fill: '#f0f9e8'
                                }
                            ]
                        },
                        {
                            type: 'symbol',
                            heading: 'Map features',
                            parentIds: ['fz'],
                            isSelected: true,
                            items: [
                                {
                                    id: 'fz2',
                                    label: 'Flood zone 2',
                                    fill: '#00A4CD',
                                    isSelected: true
                                },
                                {
                                    id: 'fz3',
                                    label: 'Flood zone 3',
                                    fill: '#003078',
                                    isSelected: true
                                }
                            ]
                        },
                        {
                            type: 'symbol',
                            heading: 'Map features',
                            parentIds: ['pd', 'cl'],
                            collapse: 'collapse',
                            isSelected: true,
                            items: [
                                {
                                    id: 'wsa',
                                    label: 'Water storage area',
                                    icon: 'water-storage'
                                },
                                {
                                    id: 'fd',
                                    label: 'Flood defence',
                                    icon: 'flood-defence'
                                },
                                {
                                    id: 'mr',
                                    label: 'Main river',
                                    icon: 'main-river'
                                }
                            ]
                        }
                    ]
                },
                draw: {
                    heading: 'Get information for a boundary',
                    startLabel: 'Draw boundary',
                    finishLabel: 'Finish and get report',
                    helpLabel: 'How to draw a shape',
                    html: '<p class="govuk-body-s">Instructions</p>',
                    defaultUrl: '{{ env.OS_VTAPI_DEFAULT_DRAW_URL }}',
                    darkUrl: '{{ env.OS_VTAPI_DARK_DRAW_URL }}',
                    minZoom: 12,
                    maxZoom: 18
                },
                queryPixel: ['Surface_water_spatial_planning_1in30_depth_VTP_2']
            })

            // Component is ready and we have access to map
            // We can listen for map events now, such as 'loaded'
            fm.addEventListener('ready', async e => {
                map = fm.map
                const { view, VectorTileLayer, basemap, segments, layers } = e.detail
                isDark = basemap === 'dark'
                isRamp = layers.includes('md')
                addLayers(VectorTileLayer)
                toggleVisibility(segments, layers)
                view.on('layerview-create', e => { setStyle(e.layer.id, isRamp) })
            })

            // Listen for segments, layers or style changes
            fm.addEventListener('change', e => {
                const { basemap, segments, layers } = e.detail
                isDark = basemap === 'dark'
                isRamp = layers.includes('md')
                toggleVisibility(segments, layers)
                map.layers.forEach(layer => setStyle(layer.id, isRamp))
            })
            // Listen to map queries
            fm.addEventListener('query', e => {
                fm.info = {
                    width: '360px',
                    label: 'Hello world',
                    html: '<p class="govuk-body-s">Feature content</p><p><a href="" class="govuk-link">Link</a></p>'
                }
            })
        })
    </script>

{% endblock %}