{% extends "layouts/main.html" %}

{% block pageTitle %}
  Map – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <script>
      /* Only needed if buttonFirst or hyrbid */
      if (location.search.indexOf('view=map') >= 0) {
        if (window.matchMedia('(max-width: 640px)').matches) { // Condition need for Hybrid
          document.body.classList.add('fm-js-hidden')
        }
      }
    </script>

    <h1 class="govuk-heading-l">A basic map</h1>
    
    <div id="map" data-zoom="10" data-centre="[-1.318249,50.673456]"></div>

{% endblock %}

{% block pageScripts %}

    <script>
      const fm = new defraMap.FloodMap('map', {
        type: 'hybrid',
        display: '',
        place: 'Carlisle',
        zoom: 10,
        minZoom: 6,
        maxZoom: 18,
        centre: [-1.311179,50.668434],
        height: '600px',
        provider: {
          // osApiKey: '{{ env.OS_API_KEY }}',
          // styleUrl: '{{ env.STYLE_URL }}',
          // aerialUrl: '{{ env.AERIAL_URL }}',
          imagesPath: '/plugin-assets/flood-map-plugin/images',
          symbolPath: '/public/images',
          defaultUrl: '{{ env.DEFAULT_URL }}',
          darkUrl: '{{ env.DARK_URL }}',
          aerialUrl: '{{ env.AERIAL_URL }}',
          deuteranopiaUrl: '{{ env.DEUTERANOPIA_URL }}',
          tritanopiaUrl: '{{ env.TRITANOPIA_URL }}',
          reverseGeocodeProvider: 'os-open-names',
          reverseGeocodeKey: '{{ env.OS_OPEN_NAMES_KEY }}',
          symbolName: ['flood-defence', 'main-river', 'water-storage']
        },
        search: {
          label: 'Search for a place',
          isAutocomplete: true,
          hasGeoLocation: true,
          provider: 'os-open-names',
          key: '{{ env.OS_OPEN_NAMES_KEY }}'
        },
        legend: {
        // width: '360px',
        // display: 'inset',
        // isVisible: true,
        title: 'Menu',
        keyDisplay: 'none',
        isPersistInUrl: true,
        symbolPath: '/public/images',
        segments: [
            {
                id: 'd',
                heading: 'Source of flooding',
                // display: 'segmented',
                // parentIds: ['a', 'b'],
                items: [
                    {
                        id: 'd1',
                        label: '<span>River and sea</span>'
                    },
                    {
                        id: 'd2',
                        label: '<span>Surface water</span>'
                    }
                ]
            },
            {
                id: 'x',
                heading: 'Undefended',
                // display: 'segmented',
                parentIds: ['d1', 'd2'],
                items: [
                    {
                        id: 'x1',
                        label: 'Undefended'
                    },
                    {
                        id: 'x2',
                        label: 'Defended'
                    }
                ]
            },
            {
                heading: 'Time frame',
                // display: 'segmented',
                items: [
                    {
                        id: 'a',
                        label: '<span>Present day</span>'
                    },
                    {
                        id: 'b',
                        label: '<span>Climate change</span>'
                    }
                ]
            },
            {
                id: 'c',
                heading: 'Annual likelihood of flooding',
                // display: 'segmented',
                parentIds: ['d1'],
                items: [
                    {
                        id: 'c1',
                        label: '<span>> 3.3%</span>'
                    },
                    {
                        id: 'c2',
                        label: '<span>> 1%</span>',
                        isSelected: true
                    },
                    {
                        id: 'c3',
                        label: '<span>> 0.1%</span>'
                    }
                ]
            },
            {
                id: 'c',
                heading: 'Annual likelihood of flooding',
                // display: 'segmented',
                parentIds: ['d2'],
                items: [
                    {
                        id: 'z1',
                        label: '<span>> 3.3%</span>'
                    },
                    {
                        id: 'z2',
                        label: '<span>> 1%</span>'
                    },
                    {
                        id: 'z3',
                        label: '<span>> 0.5%</span>'
                    },
                    {
                        id: 'z4',
                        label: '<span>> 0.1%</span>'
                    }
                ]
            }
        ],
        key: [
            {
                id: 'fd',
                type: 'ramp',
                // layout: 'column',
                heading: 'Maximum flood depth',
                parentIds: ['a', 'b'],
                items: [
                    {
                        label: 'up to 0.15 metres',
                        fill: '#5694CA'
                    },
                    {
                        label: '0.3',
                        fill: '#4B87BF'
                    },
                    {
                        label: '0.6',
                        fill: '#407BB5'
                    },
                    {
                        label: 'up to 0.9 metres',
                        fill: '#356EAB'
                    },
                    {
                        label: '1.2',
                        fill: '#2B62A1'
                    },
                    {
                        label: '2.3',
                        fill: '#205596'
                    },
                    {
                        label: 'above 2.3 metres',
                        fill: '#15498C'
                    }
                ]
            },
            {
                id: 'mf',
                type: 'symbol',
                heading: 'Map features',
                parentIds: ['a', 'b'],
                items: [
                    {
                        id: 'fz3',
                        label: 'Flood zone 3',
                        fill: '#003078'
                    },
                    {
                        id: 'fz2',
                        label: 'Flood zone 2',
                        fill: '#00A4CD'
                    },
                    {
                        id: 'wsa',
                        label: 'Water storage area',
                        icon: 'water-storage'
                    },
                    {
                        id: 'fd',
                        label: 'Flood defence',
                        icon: 'flood-defence'
                    },
                    {
                        id: 'mr',
                        label: 'Main river',
                        icon: 'main-river'
                    }
                ]
            }
        ]
    }
      })
    </script>

{% endblock %}