{% extends "layouts/main.html" %}

{% block pageTitle %}
  Map – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <script>
      /* Only needed if buttonFirst or hyrbid */
      if (location.search.indexOf('view=map') >= 0) {
        if (window.matchMedia('(max-width: 640px)').matches) { // Condition need for Hybrid
          document.body.classList.add('fm-js-hidden')
        }
      }
    </script>

    <h1 class="govuk-visually-hidden">A basic map</h1>
    
    <div id="map"></div>

{% endblock %}

{% block pageScripts %}

    <script src="/public/javascripts/tokens.js"></script>

    <script>
      
        {% include "map-config.js" %}
    </script>

{% endblock %}